<%= form_for([@building, employee]) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> No se pudo guardar el Empleado:</h2>
      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

  <div class="field">
    <%= f.label :cedula, 'Cédula' %>
    <%= f.text_field :cedula %>
  </div>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :telefono, 'Teléfono'  %>
    <%= f.text_field :telefono %>
  </div>

  <div class="field">
    <%= f.label :direccion, 'Dirección' %>
    <%= f.text_field :direccion %>
  </div>

  <div class="field">
    <%= f.label :cargo %>
    <%= f.text_field :cargo %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :edad %>
    <%= f.number_field :edad %>
  </div>

  <div class="field">
    <%= f.label :fecha_nacimiento %>
    <%= f.date_select :fecha_nacimiento %>
  </div>

  <div class="actions">
    <%= f.submit 'Aceptar' %>
  </div>
<% end %>
