
<p>
  <strong>Cédula:</strong>
  <%= @employee.cedula %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @employee.nombre %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @employee.telefono %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @employee.direccion %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @employee.cargo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @employee.edad %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @employee.fecha_nacimiento %>
</p>

<p>
  <strong>Unidad Residencial:</strong>
  <%= @employee.building.nombre_completo %>
</p>

<%= link_to 'Editar', edit_building_employee_path(@building, @employee) %> |
<%= link_to 'Atras', building_employees_path(@building) %>
