
<h1>Lista de Personas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cedula</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th>Direccion</th>
      <th>Building</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nombre %></td>
        <td><%= person.cedula %></td>
        <td><%= person.telefono %></td>
        <td><%= person.correo %></td>
        <td><%= person.direccion %></td>
        <td><%= person.building.nombre_completo %></td>
        <td><%= link_to 'Ver', building_person_path(@building, person) %></td>
        <td><%= link_to 'Editar', edit_building_person_path(@building, person) %></td>
        <td><%= link_to 'Borrar', building_person_path(@building, person), method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Persona', new_building_person_path(@building) %>
