
<p>
  <strong>Nombre:</strong>
  <%= @person.nombre %>
</p>

<p>
  <strong>Cedula:</strong>
  <%= @person.cedula %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @person.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @person.correo %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @person.direccion %>
</p>

<p>
  <strong>Unidad Residencial:</strong>
  <%= @person.building.nombre_completo %>
</p>

<%= link_to 'Editar', edit_building_person_path(@building, @person) %> |
<%= link_to 'Atras', building_people_path(@building) %>
