<%= form_for([@building, @apartment, owner]) do |f| %>
  <% if owner.errors.any? %>
    <div id="error_explanation">
      <h2>No se pudo guardar el propietario</h2>

      <ul>
      <% owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id, 'Persona' %>
    <%= f.collection_select :person_id, @building.people, :id, :nombre %>
  </div>

  <div class="field">
    <%= f.label :fecha_inicio %>
    <%= f.date_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= f.label :fecha_fin %>
    <%= f.date_select :fecha_fin %>
  </div>

  <div class="field">
    <%= f.label :activo %>
    <%= f.check_box :activo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
