<h1>Editar propietario</h1>

<%= render 'form', owner: @owner %>

<%= link_to 'Ver', building_apartment_owner_path(@building, @apartment, @owner)%> |
<%= link_to 'Atras', building_apartment_path(@building, @apartment) %>
