
<h1>Dueños de apartamento <%= @apartment.nombre %></h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.person.nombre%></td>
        <td><%= owner.fecha_inicio %></td>
        <td><%= owner.fecha_fin %></td>
        <td><%= owner.activo ? 'Si': 'No'  %></td>
        <td><%= link_to 'Ver', building_apartment_owner_path(@building, @apartment, Owner) %></td>
        <td><%= link_to 'Editar', edit_building_apartment_owner_path(@building, @apartment, owner) %></td>
        <td><%= link_to 'Eliminar', building_apartment_owner_path(@building, @apartment, Owner), method: :delete, data: { confirm: 'Estas Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Propietario', new_building_apartment_owner_path(@building, @apartment) %>
