
<p>
  <strong>Person:</strong>
  <%= @owner.person %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @owner.apartment.nombre %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @owner.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @owner.fecha_fin %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @owner.activo %>
</p>

<%= link_to 'Editar', edit_building_apartment_owner_path(@building, @apartment, @owner) %> |
<%= link_to 'Atras', building_apartment_path(@building, @apartment) %>
