<%= form_for(building, html: {class: 'form-horizontal'}) do |f| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "Error") %> No se pudo guardar la Unidad Residenciál:</h2>
      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nit, 'NIT', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :nit, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :nombre, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :nombre, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :telefono, 'Teléfono', class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :telefono, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :direccion, 'Dirección', class: 'col-sm-2 control-label'  %>
    <div class="col-sm-10">
      <%= f.text_field :direccion, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
          <%= f.label :activo do %>
            <%= f.check_box :activo %>Activo
          <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Aceptar', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
