<div class="page-header">
  <h1><i class="fa fa-bank page-header-icon"></i>&nbsp;&nbsp;Administración de Unidades Residenciales</h1>
  <div class="pull-right col-xs-12 col-sm-auto">
    <%= link_to '<i class="fa fa-plus"></i> Nueva Unidad'.html_safe, new_building_path, class: 'btn btn-success btn-lg btn-labeled pull-right'%>
  </div>
</div> <!-- / .page-header -->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info panel-dark widget-profile">
      <div class="panel-heading">
        <div class="widget-profile-bg-icon"><i class="fa fa-home"></i></div>
        <%= image_tag 'building.jpg', class: 'widget-profile-avatar' %>
        <div class="widget-profile-header">
          <span>Listado de Unidades Residenciales</span><br>
          <%= current_user.nombre %>
        </div>
      </div> <!-- / .panel-heading -->

      <div class="panel">
        <div class="panel-body">
          <div class="table-info">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
              <thead>
                <tr>
                  <th>Nombre Completo</th>
                  <th>NIT</th>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Dirección</th>
                  <th>Activo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @buildings.each do |building| %>
                  <tr>
                    <td><%= building.nombre_completo %></td>
                    <td><%= building.nit %></td>
                    <td data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%= building.employee.map(&:nombre).join(', ') %>">
                        <%= building.nombre %>
                    </td>
                    <td><%= building.telefono %></td>
                    <td><%= building.direccion %></td>
                    <td>
                      <% if building.activo %>
                          <span class="label label-success">Si</span>
                      <% else %>
                          <span class="label label-danger">No</span>
                      <% end %>
                    </td>
                    <td>
                      <div class="btn-group" >
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i>&nbsp;&nbsp;Opciones</button>
                        <ul class="dropdown-menu" style="z-index: 100 !important;">
                          <li><%= link_to 'Ver', building %></li>
                          <li><%= link_to 'Editar', edit_building_path(building) %></li>
                          <li><%= link_to 'Borrar', building, method: :delete, data: { confirm: 'Seguro que quiere borrar?' } %></li>
                        </ul>
                      </div>&nbsp;
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    document.addEventListener("turbolinks:load", function()
    {
        var init = [];

        init.push(function () {
            $('#jq-datatables-example').dataTable();
            $('#jq-datatables-example_wrapper .table-caption').text('Unidades');
            $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Buscar...');
        });

        window.PixelAdmin.start(init);
    });
</script>

