<div class="panel panel-info">
  <div class="panel-heading">
    <h3><%= link_to '<<', buildings_path, class: 'btn btn-info'%>&nbsp;&nbsp;Crear Unidad Residencial</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', building: @building %>
  </div>
</div>
