<div class="panel">
  <div class="panel-heading">
    <span class="panel-title"><h3>Datos Unidad Residencial <%= @building.nombre_completo %></h3></span>
  </div>
  <div class="panel-body">
    <ul id="uidemo-tabs-default-demo" class="nav nav-tabs">
      <li class="active">
        <a href="#uidemo-tabs-unidad" data-toggle="tab">Unidad</a>
      </li>
      <li class="">
        <a href="#uidemo-tabs-empleados" data-toggle="tab">Empleados</a>
      </li>
    </ul>

    <div class="tab-content tab-content-bordered">
      <div class="tab-pane fade active in" id="uidemo-tabs-unidad">
        <br>
        <div class="profile-full-name">
          <span class="text-semibold"><i class="fa fa-bank page-header-icon"></i>&nbsp;Datos Unidad Residencial</span>
        </div>
        <div class="profile-row">
          <div class="left-col">
            <div class="profile-block">
              <div class="panel profile-photo">
                <%= image_tag 'building.jpg' %>
              </div>
            </div>
          </div>
          <div class="right-col">
            <hr class="profile-content-hr no-grid-gutter-h">
            <div class="profile-content">
              <div class="panel">
                <br>
                <form id="form_vehiculo">
                  <div class="form-group">
                    <label for="jq-validation-url" class="col-sm-3 control-label"><strong>Nombre Completo:</strong></label>
                    <div class="col-sm-9">
                      <label for="jq-validation-url" class="col-sm-9 control-label"><%= @building.nombre_completo %></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="jq-validation-url" class="col-sm-3 control-label"><strong>NIT:</strong></label>
                    <div class="col-sm-9">
                      <label for="jq-validation-url" class="col-sm-9 control-label"><%= @building.nit %></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="jq-validation-url" class="col-sm-3 control-label"><strong>Nombre:</strong></label>
                    <div class="col-sm-9">
                      <label for="jq-validation-url" class="col-sm-9 control-label"><%= @building.nombre %></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="jq-validation-url" class="col-sm-3 control-label"><strong>Teléfono:</strong></label>
                    <div class="col-sm-9">
                      <label for="jq-validation-url" class="col-sm-9 control-label"><%= @building.telefono %></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="jq-validation-url" class="col-sm-3 control-label"><strong>Dirección:</strong></label>
                    <div class="col-sm-9">
                      <label for="jq-validation-url" class="col-sm-9 control-label"><%= @building.direccion %></label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="jq-validation-url" class="col-sm-3 control-label"><strong>Activo:</strong></label>
                    <div class="col-sm-9">
                      <% if @building.activo %>
                          <label for="jq-validation-url" class="col-sm-9 control-label">Si</label>
                      <% else %>
                          <label for="jq-validation-url" class="col-sm-9 control-label">No</label>
                      <% end %>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <%= link_to 'Editar', edit_building_path(@building), class: 'btn btn-large btn-success col-sm-2', style: 'margin-left: 10px' %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- / .tab-pane -->
      <div class="tab-pane fade" id="uidemo-tabs-empleados">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-info panel-dark widget-profile">
              <div class="panel-heading">
                <div class="widget-profile-bg-icon"><i class="fa fa-user"></i></div>
                <%= image_tag 'building.jpg', class: 'widget-profile-avatar' %>
                <div class="widget-profile-header">
                  <span>Listado de Empleados</span><br>
                  <%= @building.nombre_completo %>
                </div>
              </div> <!-- / .panel-heading -->

              <div class="panel">
                <div class="panel-body">
                  <div class="table-info">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-example">
                      <thead>
                      <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Cargo</th>
                      </tr>
                      </thead>

                      <tbody>
                      <% @building.employee.each do |employee| %>
                          <tr>
                            <td><%= link_to employee.cedula, building_employee_path(@building, employee) %></td>
                            <td><%= link_to employee.nombre, building_employee_path(@building, employee) %></td>
                            <td><%= link_to employee.cargo, building_employee_path(@building, employee) if employee.cargo.present? %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div> <!-- / .tab-pane -->
    </div> <!-- / .tab-content -->
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", function()
  {
    var init = [];

    init.push(function ()
    {
        $('body').addClass("page-profile");
    });

    init.push(function ()
    {
        $('#jq-datatables-example').dataTable();
        $('#jq-datatables-example_wrapper .table-caption').text('Empleados');
        $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Buscar...');
    });

    window.PixelAdmin.start(init);
  });
</script>