
<div class="panel panel-info panel-dark panel-body-colorful widget-profile widget-profile-centered">
  <div class="panel-heading">
    <br><br>
    <%= image_tag 'mi-logo-SOLO.gif', class: 'widget-profile-avatar' %>
    <div class="widget-profile-header">
      <h2>Bienvenido a Unidades Residenciales</h2></span>
    </div>
  </div> <!-- / .panel-heading -->
  <div class="panel-body">
    <div class="widget-profile-text" style="padding: 0;">
      <h4>El ser humano siempre ha tenido la necesidad de refugiarse para contrarrestar las condiciones adversas de vivir a la intemperie. En la prehistoria, para protegerse del clima adverso o las fieras, solía refugiarse en cuevas naturales, con su familia, bien sea nuclear o extendida. Tradicionalmente, en el mundo rural eran los propios usuarios los responsables de construir su vivienda, según sus propias necesidades y usos a partir de los modelos habituales de su entorno y de los materiales disponibles en la zona; por el contrario, en las ciudades, era más habitual que las viviendas fueran construidas por artesanos o arquitectos especializados. En los países desarrollados, el diseño de las viviendas ha pasado a ser competencia exclusiva de arquitectos e ingenieros, mientras que su construcción es realizada por empresas y profesionales específicos, bajo la dirección técnica del arquitecto y/u otros técnicos.</h4>
    </div>
    <br><br>
  </div>
  <div class="panel-footer">
    <p>
      <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-lg btn-primary' %>&nbsp;
      <%= link_to 'Iniciar Sesión', new_user_session_path, class: 'btn btn-lg btn-success' %>
    </p>
  </div>
</div> <!-- / .panel -->
</div>
