
<div class="page-pricing-header">
  <%= image_tag 'pricing-bg.jpg' %>
  <div class="bg-overlay" style="background: #8f7c5f;"></div>
  <div class="page-pricing-header-content">
    <h1 class="page-title"><strong>Plans</strong> &amp; <strong>Pricing</strong></h1>
    <div class="slogan">
      <h3>More Revenue. No Obligations. So Professional.</h3>
      <h4>Pay as you go. No startup costs. No long-term contracts. Cancel anytime.</h4>
    </div>
  </div>
</div>

<div class="plans-panel" style="max-width: 1000px;">
  <div class="plans-container">
    <!-- Personal plan -->
    <div class="plan-col col-sm-3">
      <div class="plan-header bg-light-green darken">PERSONAL</div>
      <div class="plan-pricing bg-light-green"><span class="plan-currency">$</span><span class="plan-value">19</span><span class="plan-period">/MO</span></div>
      <ul class="plan-features">
        <li>1 User</li>
        <li>1 Dashboard</li>
        <a href="#" class="bg-light-green darken">ORDER NOW</a>
      </ul>
    </div>

    <!-- Start Up plan -->
    <div class="plan-col col-sm-3">
      <div class="plan-header bg-light-green darker">STARTUP</div>
      <div class="plan-pricing bg-light-green darken"><span class="plan-currency">$</span><span class="plan-value">49</span><span class="plan-period">/MO</span></div>
      <ul class="plan-features">
        <li>3 Users</li>
        <li>Unlimited Dashboards</li>
        <li>Custom CSS</li>
        <a href="#" class="bg-light-green darker">ORDER NOW</a>
      </ul>
    </div>

    <!-- Company plan -->
    <div class="plan-col col-sm-3">
      <div class="plan-header bg-light-green darken">COMPANY</div>
      <div class="plan-pricing bg-light-green"><span class="plan-currency">$</span><span class="plan-value">99</span><span class="plan-period">/MO</span></div>
      <ul class="plan-features">
        <li>3 Users</li>
        <li>Unlimited Dashboards</li>
        <li>Custom CSS</li>
        <li>IP Restriction</li>
        <li>Custom Domain</li>
        <a href="#" class="bg-light-green darken">ORDER NOW</a>
      </ul>
    </div>

    <!-- Enterprice plan -->
    <div class="plan-col col-sm-3">
      <div class="plan-header bg-light-green darker">ENTERPRISE</div>
      <div class="plan-pricing bg-light-green darken"><span class="plan-currency">$</span><span class="plan-value">199</span><span class="plan-period">/MO</span></div>
      <ul class="plan-features">
        <li>3 Users</li>
        <li>Unlimited Dashboards</li>
        <li>Custom CSS</li>
        <li>IP Restriction</li>
        <li>Custom Domain</li>
        <a href="#" class="bg-light-green darker">ORDER NOW</a>
      </ul>
    </div>
  </div>
</div>

<div class="trial">
  <a href="#" title="">Get started today with a 30-day free trial</a><br>
  No obligation, no credit card required.
</div>

 <!-- / #content-wrapper -->

<script type="text/javascript">
    document.addEventListener("turbolinks:load", function()
    {
        var init = [];

        $('body').addClass("page-pricing");
        // Resize BG
        init.push(function () {
            var $ph = $('.page-pricing-header'),
                $img = $ph.find('> img');

            $(window).on('resize', function () {
                $img.attr('style', '');
                if ($img.height() < $ph.height()) {
                    $img.css(
                        {
                            height: '100%',
                            width: 'auto'
                        });
                }
            });
        })

        window.PixelAdmin.start(init);
    });
</script>