<div id="page-signin-bg">
  <!-- Background overlay -->
  <div class="overlay"></div>
  <!-- Replace this with your bg image -->
  <%= image_tag 'signin-bg-5.jpg' %>
  <!--<img src="{% static 'demo/signin-bg-5.jpg'" alt="">-->
</div>

<div class="signin-container">
  <!-- Left side -->
  <div class="signin-info">
    <a href="#" class="logo">
      <div style="text-align: center;">
        <%= image_tag 'edificio.png', style: 'width: 200px; margin-top: 50px;'%></div>&nbsp;
    </a> <!-- / .logo -->
  </div>

  <div class="signin-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="signin-text">
        <span>Ingresa con tu cuenta</span>
      </div> <!-- / .signin-text -->
      <div class="form-group">
        <%= f.email_field :email, class: 'form-control input-lg', autofocus: true, placeholder: "Username o email" %>
      </div> <!-- / Username -->
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control input-lg', autocomplete: "off", placeholder: "Contraseña" %>
      </div> <!-- / Password -->

      <div class="form-actions">
        <%= f.submit "Iniciar Sesión" , class: "btn btn-lg btn-success" %>
      </div> <!-- / .form-actions -->

      <br>
      <br>

    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>


<script type="text/javascript">
    var init = [];

    $('body').addClass("page-signin");
    // Resize BG
    init.push(function ()
    {
        var $ph  = $('#page-signin-bg'), $img = $ph.find('> img');

        $(window).on('resize', function ()
        {
            $img.attr('style', '');
            if ($img.height() < $ph.height())
            {
                $img.css({
                    height: '100%',
                    width: 'auto'
                });
            }
        });
    });

    window.PixelAdmin.start(init);
</script>
