<%= form_for([@building, apartment]) do |f| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> No se pudo guardar el Apartamento :</h2>
      <ul>
      <% apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :matricula %>
    <%= f.text_field :matricula %>
  </div>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :coeficiente %>
    <%= f.text_field :coeficiente %>
  </div>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.select(:tipo, Apartment::TIPO.collect {|k,v| [v,k]}) %>
  </div>

  <div class="actions">
    <%= f.submit 'Aceptar' %>
  </div>
<% end %>
