<h1>Editar apartamento</h1>

<%= render 'form', apartment: @apartment %>

<%= link_to 'Ver', building_apartment_path(@building, @apartment) %> |
<%= link_to 'Atrás', building_apartments_path(@building) %>
