
<h1>Lista de Apartamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Matrícula</th>
      <th>Área</th>
      <th>Coeficiente</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.nombre %></td>
        <td><%= apartment.matricula %></td>
        <td><%= apartment.area %></td>
        <td><%= apartment.coeficiente %></td>
        <td><%= apartment.nombre_tipo %></td>
        <td><%= link_to 'Ver', building_apartment_path(@building, apartment) %></td>
        <td><%= link_to 'Editar', edit_building_apartment_path(@building, apartment) %></td>
        <td><%= link_to 'Borrar', building_apartment_path(@building, apartment), method: :delete, data: { confirm: 'Esta Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Apartamento', new_building_apartment_path(@building) %>
