<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag('edificio', style: 'width: 50px; margin-top: -15px; margin-left: -15px;'), buildings_path, class: 'navbar-brand' %>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <% if @building.present? && @building.persisted? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empleados <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Lista completa de Empleados', building_employees_path(@building) %></li>
                    <li><%= link_to 'Agregar Empleado', new_building_employee_path(@building) %></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apartamentos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Lista de Apartamentos', building_apartments_path(@building) %></li>
                    <li><%= link_to 'Agregar Apartamento', new_building_apartment_path(@building) %></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personas <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <%= link_to 'Lista de Personas', building_people_path(@building) %>
                    <%= link_to 'Agregar Personas', new_building_person_path(@building) %>
                  </ul>
                </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to current_user.nombre, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to('Salir', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Inicio', root_path %></li>
            <li><%= link_to 'Precios', static_precios_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>